@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
body {
  font-family: sans-serif;
  margin: 0;
}
a{
  text-decoration: none;
  color: #1E214E;
}
a:visited{
  text-decoration: none;
}
#repoSearch{
  appearance: none;
  padding: 7px;
  margin-bottom: 3%;
  width: 30%;
  position: fixed;
}
#searchContainer{
  top: 0;
  background-color: white;
  margin-top: 90px;
  padding: 20px 0px 60px 0px;
  width: 100%;
  position: fixed;
}
.repoContainer{
  padding: 2%;
  width: 60vw;
  margin: 0 auto;
}
section{
  border-bottom: 1px solid #1E214E;
}
h1 h2 h3 h4{
  color: #1E214E;
}
header{
  background-color: #1E214E;
  color: #A7C64B;
  padding: 20px 30px 20px 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  box-shadow: 0px 20px white;
}
#header-div{
  padding-bottom: 120px;
}
h1{
  margin: 0;
  padding: 0;
}
#githubButton{
  background:linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
  background-color:#f9f9f9;
  border-radius:4px;
  border:1px solid #dcdcdc;
  cursor:pointer;
  color:#666666;
  font-family:Arial;
  font-size:13px;
  font-weight:bold;
  padding:6px 10px;
  margin-right: 4%;
  height: 14px;
  text-decoration:none;
  text-shadow:0px 0px 0px #ffffff;
}
#githubButton:hover {
  background:linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%);
  background-color:#e9e9e9;
}
#githubButton:active{
  background:linear-gradient(to bottom, #ababab 5%, #e3e3e3 100%);
}
/*makes buttons inline*/
#inLine{
  display:inline;
}
/*makes repo buttons align right*/
.confButton {
  background:linear-gradient(to bottom, #d6d6d6 5%, #bfbfbf 100%);
  background-color:#d6d6d6;
  border-radius:6px;
  border:1px solid #e8e8e8;
  display:inline-block;
  cursor:pointer;
  color: #666666;
  font-size:15px;
  font-weight:bold;
  padding:6px 24px;
  text-decoration:none;
  text-shadow:0px 1px 0px #ffffff;

  float: right;
  margin-top: 1%;
}
.confButton:hover {
  background:linear-gradient(to bottom, #bfbfbf 5%, #d6d6d6 100%);
  background-color:#bfbfbf;
}
.confButton:active {
  position:relative;
  top:1px;
}
aside{
  display: inline;
  margin-left: 3%;
}

/*-------------------------------------------------*/
/*--------------GitHub Profile Main Page-----------*/
.user-page{
  width: 20%;
  font-size: 10px;
  z-index: -5;
  margin: 0% 3% 0% 3%;
}
#repo-page{
  display: flex;
}
#repo-style{
  padding-top: 70px;
}
/*-------------------------------------------------*/
#nav{
  display: flex;
  flex-direction: column;
  padding: 0;
  list-style-type: none;
  position:fixed;
  top: 0;
  bottom:0;
  margin-top: 120px;
  margin-left: 10px;
  max-width: 125px;
}
#nav li{
  font-weight: bold;
  padding: 10px;
  background-color: white;
  border: 1px solid #AAAAAA;
}
#nav li:hover:not(.active) {
  background-color: #F1F1F1;
}
#nav li.active {
  background-color: #F1F1F1;
}
.formContainer{
  width: 70vw;
  margin-left: 150px;
  background: #F1F1F1;

  border: 1px solid #AAAAAA;
  padding: 3%;
}
.formSection{
  padding: 3%;
  padding-bottom: 4%;
  border-bottom: 1px solid #AAAAAA;
}
.dropdown{
  width: 80%;
  appearance: none;
  padding: 10px;
  cursor: pointer;
}
option{
  padding: 100px;
}
#json{
  /*display: none;*/
}
#resx{
  /*display: none;*/
}
#properties{
  /*display: none;*/
}
#grid{
  background-color: white;
  padding: 2%;
}
#headers{
  padding: 0;
  list-style-type: none;
  overflow: hidden;
}
#headers li{
  margin-left: 3%;
  margin-right: 3%;
}
.tab{
  margin-left: 3%;
}
small{
  padding: 3px;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 1%;
  background-color: #D8D8D8;
  border-radius: 15px;
}
.formButtons{
}
.container{
  display:flex;
  flex-direction: row;
  text-align: center;
  justify-content: space-between;
  width: 98%;
}


#footer{

}

/* Login page */
#login-page{
  max-width: 55%;
  height: 65vh;
  margin: 0 auto;
}
#signUp{
  width: 30%;
  background-color: #A7C64B;
  border-radius: 25px 0px 0px 25px;
  padding: 15% 3% 15% 3%;
}
#logIn{
  width: 90%;
  background-color: #D8D8D8;
  border-radius: 0px 25px 25px 0px;
  padding: 3%;
}
.login-page-button{
  background-color: white;
  border-radius:42px;
  border:1px solid #dcdcdc;
  display:inline-block;
  cursor:pointer;
  color:#696969;
  font-size:15px;
  padding:5px 15px;
  text-decoration:none;
  text-shadow:0px 1px 0px #ffffff;
  box-shadow: 2px 3px 3px #AAAAAA;
}
.login-page-button:hover {
  background-color:#c9c9c9;
}
.login-page-button:active {
  position:relative;
  top:1px;
}
#signUp p{
  font-size: 10px;
}
.vertContainer{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
#logIn label{
  font-size: 10px;
  text-align: left;
}
#logIn input{
  padding: 6px;
  width: 100%;
  border-radius: 5px;
  outline: none;
}
input#login-button{
  text-align: center;
  width: 100px;
  border-radius:42px;
}
#logIn aside{
  font-size: 12px;
  text-decoration: underline;
}
#logout-button{
  background:linear-gradient(to bottom, #5b5e8a 5%, #4a4d7d 100%);
  border-radius:6px;
  display:inline-block;
  cursor:pointer;
  color: #A7C64B;
  font-size:15px;
  font-weight:bold;
  padding:6px 24px;
  text-decoration:none;
}
#logout-button:hover {
  background:linear-gradient(to bottom, #4a4d7d 5%, #5b5e8a 100%);
}
